@model IEnumerable<Tasks_Project.Models.Task>
@{
    ViewData["Title"] = "View Survey";
}
<head>
    <script src="https://kit.fontawesome.com/42daf7d6ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="treeview">
        <h6 class="pt-3 pl-3">Tasks</h6>

        <hr>
        <ul class="mb-1 pl-3 pb-2">
            @foreach (var task in Model)
            {
                <li>
                    @task.Name
                    @if (task.Steps != null)
                    {
                        <ul class="nested">
                            @foreach (var step in task.Steps)
                            {
                                <li> @step.Name - @step.Owner</li>

                                if (step.LittleSteps != null)
                                {
                                    <ul class="nested">
                                        @foreach (var littleStep in step.LittleSteps)
                                        {
                                            <li> @littleStep.Name - @littleStep.Owner</li>
                                            if (littleStep.LittleSteps != null)
                                            {
                                                <ul class="nested">
                                                    @foreach (var littleStep2 in littleStep.LittleSteps)
                                                    {
                                                        <li>@littleStep2.Name - @littleStep2.Owner</li>
                                                    }
                                                </ul>
                                            }
                                        }
                                    </ul>
                                }

                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</body>